<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/login.css' %}">
</head>
<body>
    <div class="container">
        <h2>Вход</h2>
        
        {% if error %}
            <div class="error">
                <p>{{ error }}</p>
            </div>
        {% endif %}
        
        <form method="POST">
            {% csrf_token %}
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" required>

            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Войти</button>
        </form>
        <p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </div>
</body>
</html>